---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage, author } = Astro.props;
---

<html lang="en" class="bg-white text-black dark:bg-black dark:text-white">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <Header />

  <body>
    <main
      class="lg:ml-auto lg:mr-auto ml-5 mr-5 mb-5 prose lg:prose-xl dark:prose-invert max-w-6xl prose-a:underline hover:prose-a:no-underline prose-a:transition-all prose-a:text-black hover:prose-a:bg-black hover:prose-a:text-white dark:prose-a:text-white dark:hover:prose-a:bg-white dark:hover:prose-a:text-black hover:prose-a:rounded"
    >
      <article class="h-entry">
        <div>
          <div class="flex flex-col items-center text-center">
            {
              heroImage && (
                <img
                  src={heroImage}
                  alt={`Thumbnail for ${title} blog post.`}
                  class="rounded u-featured"
                />
              )
            }
            <div>
              <h1 class="p-name" itemprop="name headline">{title}</h1>
              <p class="text-lg font-semibold p-summary">{description}</p>
              <p class="text-sm">
                Written by: <a href={author.url} class="p-author h-card"
                  >{author.name}</a
                > - <FormattedDate date={pubDate} />
              </p>
              <!-- <div class="text-sm">
             
              <!-- {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              } -->
              <!-- </div> -->
            </div>
          </div>
          <hr />
        </div>
        <div class="e-content">
          <slot />
        </div>
      </article>
    </main>
  </body>
</html>
